
.content_container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.content_column {
  width: 400px;
  background-color: #000000a6;
  justify-content: space-evenly;
  padding-bottom: 15px;
  border-radius: 5px;
}
.checkmark {
  margin-top: 20px;
}
h1 {
  margin: 30px 0px;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0px;
}
button {
  width: 150px;
  height: 40px;
  background: #69dbd259;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}