
.checkouth1 {
  margin: 20px 0 20px 0;
}
.content_column {
  justify-content: space-between;
}
.content_column_subcontainer {
  background-color: #000000a6;
  height: 420px;
  margin-bottom: 20px;
}
.products img {
  margin-top: 20px;
  width: 100px;
}
.products p,
h3 {
  margin-top: 10px;
}
.text_container {
  text-align: center;
}
.text_container > hr {
  width: 80%;
  margin: auto;
}
.content_column_form_container {
  background-color: #000000a6;
  height: 470px;
  margin-bottom: 20px;
  text-align: left;
}
.mobilehr {
  width: 50%;
  margin: auto;
}
label,
input,
h2 {
  display: block;
}
label {
  font-size: 14px;
}

.payment_information {
  height: 660px;
  width: 100%;
  background-color: #000000a6;
}
.payment_information > h1 {
  margin: 20px 0;
}
.payment_method_separator {
  margin-bottom: 20px;
}
h2,
.checkout_information_form > input,
label {
  margin: 10px 0px 0px 20px;
}
.payment_information_form {
  display: grid;
  grid-template-rows: 40px 70px 70px 50px 50px 50px 50px 35px 35px 50px;
  text-align: left;
  width: 100%;
}
.payment_icon {
  width: 39px;
  height: 27px;
}
.card_separator {
  margin: 0px 5px 0px 5px;
}

input {
  height: 20px;
  border-radius: 5px;
  border-color: #69dbd2;
  color: #000000;
}
.flexer {
  display: flex;
}
.card_information {
  display: flex;
}
.card_number_label {
  margin-left: 50px;
}
.card_number_input {
  width: 150px;
  margin-left: 50px;
}

.expdate_ccv_input {
  width: 40px;
  border-radius: 5px;
  margin-left: 20px;
}
.checkbox1 {
  width: 30px;
  margin: 3px 10px;
}
.checkbox2 {
  width: 30px;
  margin: 0px 10px;
}
.total_price {
  margin-left: 70%;
}
.button {
  width: 200px;
  height: 40px;
  background: #69dbd259;
  border-radius: 5px;
  margin-left: 50%;
  border: none;
}
.centering {
  margin: 0px 0px 0px 20px;
  padding-top: 8px;
}

@media screen and (min-width: 1100px) {
  
  .checkouth1 {
    display: none;
  }
  .mobilebr {
    display: none;
  }
  .mobilehr {
    display: none;
  }
 
  .content_container {
    display: flex;
    justify-content: center;
  }
  .content_column {
    width: 1060px;
    display: flex;
  }
  .content_column_subcontainer {
    height: 150px;
    width: 620px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
  }
  .products img {
    margin: 10px 0px 10px 10px;
  }

  .text_container {
    width: 270px;
    text-align: left;
  }
  .text_container > hr {
    width: 270px;
  }
  .content_column_form_container {
    height: 320px;
    width: 620px;
  }
  form {
    display: flex;
  }

  .payment_information {
    height: 660px;
    width: 420px;
  }
}
