.content_container {
  justify-content: center;
  display: flex;
}
.content_column {
  width: 90%;
  background-color: #000000a6;
  height: 700px;
}
.h1_margin {
  margin: 10px 0px 10px 0px;
}
.p_margin {
  margin: 20px 0px 20px 0px;
}
hr {
  width: 62.05%;
  margin: auto;
}
.form {
  margin: 10px 0px 10px 0px;
  text-align: left;
  width: 62.05%;
  margin-left: 18.975%;
}
.input_container {
  margin: 40px 0px 40px 0;
}
input,
textarea {
  height: 30px;
  width: 100%;
  background: #ffffffa8;
  border-radius: 5px;
  border-color: #69dbd2;
  color: #000000;
}
.message_input {
  height: 150px;
}
.form_button {
  width: 150px;
  height: 40px;
  background: #69dbd259;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.form_button > p{
  text-decoration: underline;
}
#content_container2 {
  margin-top: 50px;
}
#contact_info {
  height: 350px;
  justify-content: space-evenly;
}
.icon {
  position: relative;
  top: 25%;
  margin-top: 20px;
}
.error{
  color: #ff0000;
  display: none;
}

@media screen and (min-width: 1250px) {
  
  .content_column {
    width: 40%;
  }

  #contact_info {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
  }

  .icon {
    position: relative;
    top: 25%;
    margin-top: -8px;
  }
}
