.content_column {
  width: 100%;
  margin: 20px 0px;
}
#reds_text, #red_text{
  color: #ff0000;
}
.popular_image_container {
  width: 50%;
  margin: auto;
}
.popular_image {
  margin-top: 20px;
  width: 100%;
}

@media screen and (min-width: 1250px) {
  .front_page_content_container {
    width: 550px;
    height: 40px;
  }
  .front_page_content_container_desktop_adjustor {
    width: 550px;
    height: 400px;
  }
  .wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .popular_image_container {
    width: 21%;
  }
}
