.image {
  width: 100%;
  margin-bottom: 10px;
}
.content_container {
  display: flex;
  justify-content: center;
}
.content_column {
  background-color: #000000a6;
  justify-content: space-evenly;
  padding-bottom: 15px;
}
.rating {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.stars {
  width: 111px;
  height: 22px;
  margin-top: 10px;
}
.rating_text {
  margin-top: 13px;
}
.space_war_img {
  width: 80%;
  margin-top: 28px;
}
.game_info {
  width: 80%;
  margin: auto;
}
.game_info_main_text {
  margin: 10px 0px 10px 0px;
  line-height: 22px;
}
.itemnamesizeadjustment{
  font-size: 24px;
  
}
.product_details_photo_container {
  width: 100%;
}
.product_details_photo {
  height: 60px;
  width: 30%;
  border: #000000 solid;
}
.game_trailer_content_column {
  width: 80%;
  position: relative;
  left: 10%;
}
h1,
.product_details_photo {
  text-align: left;
  margin: 10px 0px 10px 0px;
}
p {
  text-align: left;
  font-size: 14px;
}
button {
  padding: 0;
  border: none;
  background-color: inherit;
}
.product_details_button {
  width: 130px;
  height: 30px;
  background: #69dbd259;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.product_details_button_text{
  text-align: center;
  font-size: 13px;
  text-decoration: underline;
}
#textmargin{
  margin-top: 7px;
}
.buttons_spacing {
  display: flex;
  justify-content: space-between;
}
h2 {
  text-align: left;
  margin-top: 10px;
  font-size: 18px;
}
.trailer_img {
  width: 100%;
  margin-top: 24px;
}
.game_specifications_text {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}
.game_specifications_sub {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#bottom_container {
  margin-top: 20px;
}
.botom_column_text {
  margin: auto;
}
.popular_image_container {
  width: 50%;
  margin: auto;
}
.popular_image {
  width: 100%;
}

@media screen and (min-width: 1250px) {
  
  .content_column {
    width: 860px;
    display: flex;
    padding-bottom: 15px;
  }
  .game_showcase {
    width: 33.3%;
  }
  .game_info {
    width: 33.3%;
  }

  .botom_column_text {
    margin: 20px 60% 0px 0px;
  }

  .popular_image_container {
    width: 14%;
  }
}

@media screen and (min-width: 450px) and (max-width: 785px) {
  .product_details_photo{
    height: 125px;
    width: 200px;
  }
  .game_trailer_content_column{
    margin-top: 40px;
  }
  
}
@media screen and (min-width: 785px) and (max-width: 1249px){
  .product_details_photo{
    height: 250px;
    width: 400px;
  }
  .product_details_button{
    width: 200px;
    height: 50px;
  }
  #textmargin{
    margin-top: 16px;
  }

}
