
.content_container {
  display: flex;
  justify-content: center;
}
.content_column {
  background-color: #000000a6;
  padding-bottom: 15px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  width: 100%;
}
.cartcontainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.bandade {
  display: flex;
  width: 50%;
}
.image_container {
  width: 55%;
}
.game_image {
  width: 80%;
  margin-top: 15px;
}
.description_container {
  width: 40%;
  margin-top: 15px;
  text-align: left;
  display: none;
}

hr {
  margin: 5px 0px;
}
.information_container {
  width: 40%;
  margin-top: 15px;
  margin: auto;
}

.margin_adjustment {
  margin-top: 35px;
  cursor: pointer;
}

.innercontainer{
  text-align: right;
  float: right;
  margin-left: auto;
}
.adjustmentformargin{
  margin-top: 10px;
  margin-right: 10px;
}
.button_content_container {
  display: flex;
}
.remove_button {
  position: relative;
  top: 20px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}
.remove_button > p{
  text-decoration: underline;
  width: 100%;
  font-size: 14px;
}
.checkout_button {
  margin-top: 10px;
  margin-right: 10px;
  width: 150px;
  height: 30px;
  background: #69dbd259;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.checkout_button_text{
  text-align: center;
  font-size: 14px;
  margin-top: 6px;
}
#bottom_container {
  margin-top: 20px;
}
.bottom_column_text {
  margin: 20px 0px 0px 0px;
  font-size: 20px;
}
.final_column {
  width: 100%;
}
.popular_image_container {
  width: 40%;
  margin: auto;
}

.popular_image {
  margin-top: 20px;
  width: 100%;
}
.quantityflex{
  display: flex;
  justify-content: space-evenly;
  
}
.decrease-quantity,
.increase-quantity{
  background: none;
  margin-top: 35px;
  width: 20px;
}
.decrease-quantity:hover,
.increase-quantity:hover{
  cursor: pointer;
  background: none;
}
@media screen and (min-width: 1250px) {
  
  .content_column {
    width: 860px;
  }
  .image_container {
    width: 30%;
  }

  .description_container {
    width: 70%;
    display: block;
  }
  
 

  .final_column {
    display: flex;
  }
  .popular_image_container {
    width: 14%;
  }
}
